# Cleaning the data

## Importing the data

In [26]:
import numpy as np
import pandas as pd

In [27]:
data = pd.read_csv('data.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [28]:
data.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7138,7048-GXDAY,Male,0,No,No,39,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,106.4,4040.65,No
7139,9283-LZQOH,Male,0,Yes,Yes,13,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),74.4,896.75,Yes
7140,6473-ULUHT,Male,0,Yes,Yes,16,Yes,Yes,DSL,Yes,...,No,Yes,Yes,Yes,Month-to-month,No,Electronic check,84.9,1398.25,No
7141,7017-VFHAY,Female,0,Yes,Yes,61,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),115.1,7008.15,No
7142,4367-NHWMM,Female,0,No,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,24.9,24.9,No

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7143 entries, 0 to 7142
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7143 non-null   object
 1   gender            7143 non-null   object
 2   SeniorCitizen     7143 non-null   int64
 3   Partner           7143 non-null   object
 4   Dependents        7143 non-null   object
 5   tenure            7143 non-null   int64
 6   PhoneService      7143 non-null   object
 7   MultipleLines     7143 non-null   object
 8   InternetService   7143 non-null   object
 9   OnlineSecurity    7126 non-null   object
 10  OnlineBackup      7143 non-null   object
 11  DeviceProtection  7143 non-null   object
 12  TechSupport       7143 non-null   object
 13  StreamingTV       7143 non-null   object
 14  StreamingMovies   7143 non-null   object
 15  Contract          7143 non-null   object
 16  PaperlessBilling  7143 non-null   object
 17  PaymentMethod     7143 non-null   object
 18  MonthlyCharges    7143 non-null   float64
 19  TotalCharges      7143 non-null   object
 20  Churn             7143 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [30]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7143.000000  7143.000000     7143.000000
mean        0.161697    32.378132       65.932548
std         0.368198    24.554523       35.628908
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.725000
50%         0.000000    29.000000       70.400000
75%         0.000000    55.000000       89.975000
max         1.000000    72.000000      430.038097

# 1. Checking for duplicate entries in data

In [32]:
data.duplicated().value_counts()

False    7043
True      100
Name: count, dtype: int64

In [33]:
# We have 100 duplicated rows