# Importing the data

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')
# data.head()

In [3]:
data.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7138,7048-GXDAY,Male,0,No,No,39,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,106.4,4040.65,No
7139,9283-LZQOH,Male,0,Yes,Yes,13,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),74.4,896.75,Yes
7140,6473-ULUHT,Male,0,Yes,Yes,16,Yes,Yes,DSL,Yes,...,No,Yes,Yes,Yes,Month-to-month,No,Electronic check,84.9,1398.25,No
7141,7017-VFHAY,Female,0,Yes,Yes,61,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),115.1,7008.15,No
7142,4367-NHWMM,Female,0,No,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,24.9,24.9,No

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7143 entries, 0 to 7142
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7143 non-null   object
 1   gender            7143 non-null   object
 2   SeniorCitizen     7143 non-null   int64
 3   Partner           7143 non-null   object
 4   Dependents        7143 non-null   object
 5   tenure            7143 non-null   int64
 6   PhoneService      7143 non-null   object
 7   MultipleLines     7143 non-null   object
 8   InternetService   7143 non-null   object
 9   OnlineSecurity    7126 non-null   object
 10  OnlineBackup      7143 non-null   object
 11  DeviceProtection  7143 non-null   object
 12  TechSupport       7143 non-null   object
 13  StreamingTV       7143 non-null   object
 14  StreamingMovies   7143 non-null   object
 15  Contract          7143 non-null   object
 16  PaperlessBilling  7143 non-null   object
 17  PaymentMethod     7143 non-null   object
 18  MonthlyCharges    7143 non-null   float64
 19  TotalCharges      7143 non-null   object
 20  Churn             7143 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7143.000000  7143.000000     7143.000000
mean        0.161697    32.378132       65.932548
std         0.368198    24.554523       35.628908
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.725000
50%         0.000000    29.000000       70.400000
75%         0.000000    55.000000       89.975000
max         1.000000    72.000000      430.038097

# 1. Missing data

In [6]:
# Checking for missing data
data.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity      17
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges         0
Churn                0
dtype: int64

In [7]:
# We have missing data in the Column 'OnlineSecurity'

In [8]:
# Taking a look at the columns 'OnlineSecurity'
data['OnlineSecurity']

0        No
1       Yes
2       Yes
3       Yes
4        No
       ...
7138    Yes
7139     No
7140    Yes
7141    Yes
7142     No
Name: OnlineSecurity, Length: 7143, dtype: object

In [9]:
data['OnlineSecurity'].value_counts()

OnlineSecurity
No                     3547
Yes                    2040
No internet service    1539
Name: count, dtype: int64

In [10]:
# Most people don't have OnlineSecurity
# Since its not a lot of missing values, we assume and replace the missing values with
# the mode of the column
# data['OnlineSecurity'].mode()[0]
data['OnlineSecurity'] = data['OnlineSecurity'].fillna(data['OnlineSecurity'].mode()[0])

In [11]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [12]:
# We have no missing values!

# 2. Checking for duplicate entries in data

In [17]:
data.duplicated().value_counts()

False    7043
True      100
Name: count, dtype: int64

In [18]:
# We have 100 duplicated rows

In [ ]:
# Removing the duplicate rows

# 3. Outlier removal

# 4. Addressing Inconsistencies in datatypes within the columns

# 5. Addressing Inconsistencies in Categorical Data: Category Merge

#### Column "MultipleLines" Category Merge

In [36]:
column = 'MultipleLines'
data[column].value_counts()
data.loc[data[column] == 'No phone service', column] = 'No'
data[column].value_counts()

No     4119
Yes    3022
Name: MultipleLines, dtype: int64

#### Column "OnlineSecurity" Category Merge

In [37]:
column = 'OnlineSecurity'
data[column].value_counts()
data.loc[data[column] == 'No internet service', column] = 'No'
data[column].value_counts()

No     5084
Yes    2040
Name: OnlineSecurity, dtype: int64

#### Column "OnlineBackup"Category Merge

In [38]:
column = 'OnlineBackup'
data[column].value_counts()
data.loc[data[column] == 'No internet service', column] = 'No'
data[column].value_counts()

No     4675
Yes    2466
Name: OnlineBackup, dtype: int64

#### Column "DeviceProtection" Category Merge

In [39]:
column = 'DeviceProtection'
data[column].value_counts()
data.loc[data[column] == 'No internet service', column] = 'No'
data[column].value_counts()

No     4679
Yes    2462
Name: DeviceProtection, dtype: int64

#### Column "TechSupport" Category Merge

In [40]:
column = 'TechSupport'
data[column].value_counts()
data.loc[data[column] == 'No internet service', column] = 'No'
data[column].value_counts()

No     5069
Yes    2072
Name: TechSupport, dtype: int64

#### Column "StreamingTV" Category Merge

In [41]:
column = 'StreamingTV'
data[column].value_counts()
data.loc[data[column] == 'No internet service', column] = 'No'
data[column].value_counts()

No     4392
Yes    2749
Name: StreamingTV, dtype: int64

#### Column "StreamingMovies" Category Merge

In [42]:
column = 'StreamingMovies'
data[column].value_counts()
data.loc[data[column] == 'No internet service', column] = 'No'
data[column].value_counts()

No     4376
Yes    2765
Name: StreamingMovies, dtype: int64

# 6. Label Encoding Categorical Columns Data Formats: Yes/No to 1/0

In [43]:
columns = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'Churn']
mapping = {'Yes': 1, 'No': 0}

for column in columns:
    data[column] = data[column].map(mapping)

## Label Encoding Data Formats: Male/Female to 1/0

In [44]:
mapping = {'Male': 1, 'Female': 0}
data['gender'] = data['gender'].map(mapping)

# 7. One-hot encoding for categorical features

#### One-hot encoding for column InternetService

In [68]:
# Convert categorical to numerical
data['InternetService'].value_counts()

Fiber optic    3135
DSL            2460
No             1546
Name: InternetService, dtype: int64

In [69]:
# Perform one-hot encoding
data = pd.get_dummies(data, columns=['InternetService'], prefix='InternetService')

# Get the column names
columns = data.columns.tolist()

# Move the new three columns to its position 9
columns = columns[:8] + columns[-3:] + columns[8:-3]

# Create a new DataFrame with the modified column order
data = data[columns]

# Renaming Columns
mapping = {'InternetService_DSL': 'IntrntSrvc_DSL', 'InternetService_Fiber optic': 'IntrntSrvc_FiberOptic', 'InternetService_No': 'IntrntSrvc_No'}
data.rename(columns = mapping, inplace=True)

# New columns
data.iloc[:,8:11]

      IntrntSrvc_DSL  IntrntSrvc_FiberOptic  IntrntSrvc_No
0                  1                      0              0
1                  1                      0              0
2                  1                      0              0
3                  1                      0              0
4                  0                      1              0
...              ...                    ...            ...
7136               0                      1              0
7137               0                      1              0
7138               1                      0              0
7139               0                      1              0
7140               1                      0              0

[7141 rows x 3 columns]

#### One-hot encoding for column Contract

In [70]:
# Convert categorical to numerical
data['Contract'].value_counts()

Month-to-month    3932
Two year          1721
One year          1488
Name: Contract, dtype: int64

In [71]:
# Perform one-hot encoding
data = pd.get_dummies(data, columns=['Contract'], prefix='Contract')

# Get the column names
columns = data.columns.tolist()

# Move the new three columns to its position 18
columns = columns[:17] + columns[-3:] + columns[17:-3]

# Create a new DataFrame with the modified column order
data = data[columns]

# Renaming Columns
mapping = {'Contract_Month-to-month': 'Contract_Monthly', 'Contract_One year': 'Contract_OneYear', 'Contract_Two year': 'Contract_TwoYear'}
data.rename(columns = mapping, inplace=True)

# New columns
data.iloc[:,17:20]

      Contract_Monthly  Contract_OneYear  Contract_TwoYear
0                    1                 0                 0
1                    0                 1                 0
2                    1                 0                 0
3                    0                 1                 0
4                    1                 0                 0
...                ...               ...               ...
7136                 1                 0                 0
7137                 1                 0                 0
7138                 1                 0                 0
7139                 0                 0                 1
7140                 1                 0                 0

[7141 rows x 3 columns]

#### One-hot encoding for column PaymentMethod

In [72]:
# Convert categorical to numerical
data['PaymentMethod'].value_counts()

Electronic check             2398
Mailed check                 1629
Bank transfer (automatic)    1563
Credit card (automatic)      1551
Name: PaymentMethod, dtype: int64

In [73]:
# Perform one-hot encoding
data = pd.get_dummies(data, columns=['PaymentMethod'], prefix='PaymentMethod')

# Get the column names
columns = data.columns.tolist()

# Move the new four columns to its position 22
columns = columns[:21] + columns[-4:] + columns[21:-4]

# Create a new DataFrame with the modified column order
data = data[columns]

# Renaming Columns
mapping = {'PaymentMethod_Bank transfer (automatic)': 'PayMthd_BankTransfer', 'PaymentMethod_Credit card (automatic)': 'PayMthd_CreditCard', 'PaymentMethod_Electronic check': 'PayMthd_ElectronicCheck', 'PaymentMethod_Mailed check': 'PayMthd_MailedCheck'}
data.rename(columns = mapping, inplace=True)

# New columns
data.iloc[:,21:25]

,PayMthd_BankTransfer,PayMthd_CreditCard,PayMthd_ElectronicCheck,PayMthd_MailedCheck
0,0,0,1,0
1,0,0,0,1
2,0,0,0,1
3,1,0,0,0
4,0,0,1,0
...,...,...,...,...
7136,0,0,1,0
7137,0,1,0,0
7138,0,0,1,0
7139,0,1,0,0
7140,0,0,0,1

# 6. Typecasting all columns

# 7. Datatype downcasting eg. int 64 to int8 etc

# 8. Column datatype from object to int,categorical, etc